@font-face {
  font-family: cubano;
  src: url(../fonts/cubano.ttf); }

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased; }

body {
  overflow-x: hidden;
  position: relative;
  font-size: 1.6rem; }

* {
  padding: 0;
  margin: 0; }

*,
*::after,
*::before {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

li,
ul {
  list-style-type: none; }

img {
  display: inline-block;
  vertical-align: center; }

input {
  font-family: cubano; }

.form-control {
  line-height: 2rem;
  border-radius: 3px;
  outline: none; }

.position-relative {
  position: relative !important; }

.display-flex {
  display: flex !important; }

.flex-justify-between {
  justify-content: space-between !important; }

.flex-auto {
  flex: 1 1 auto !important; }

.flex-items-center {
  align-items: center; }

.px-2 {
  padding: 0 8px; }

.px-3 {
  padding: 0 16px; }

.pl-2 {
  padding-left: 8px !important; }

.mx-2 {
  margin: 0 8px; }

.mx-3 {
  margin: 0 16px; }

.text-bold {
  font-weight: 600; }

.container-g {
  max-width: 1012px;
  margin: 0 auto; }

.f5 {
  font-size: 14px !important; }

.Header {
  z-index: 1;
  padding: 1.3rem 0;
  color: rgba(235, 235, 255, 0.8);
  background-color: #24292e; }
  .Header .logo-box {
    padding-right: 9px; }
  .Header .header-search {
    font-size: 1.4rem;
    width: 300px; }
    .Header .header-search form {
      height: 100%; }
    .Header .header-search .header-search-wrapper {
      display: table;
      width: 100%;
      max-width: 100%;
      position: absolute;
      padding: 0 1rem;
      top: 50%;
      background-color: rgba(255, 255, 255, 0.05);
      transform: translateY(-50%); }
      .Header .header-search .header-search-wrapper .header-search-input {
        border: 0;
        width: 100%;
        height: 32px;
        background-color: transparent;
        color: white;
        transition: all .6s; }
        .Header .header-search .header-search-wrapper .header-search-input:focus {
          color: white;
          transition: all 0.3s;
          padding: 1.9rem 0;
          letter-spacing: 1px; }
          .Header .header-search .header-search-wrapper .header-search-input:focus::placeholder {
            color: rgba(255, 255, 255, 0.08);
            letter-spacing: 0.4rem;
            transition: all 0.3s; }

.list-items .list-item {
  transition: all 0.2s;
  display: block; }
  .list-items .list-item:first-child {
    margin-left: 2rem; }
  .list-items .list-item:hover {
    font-family: cubano;
    color: white;
    letter-spacing: 0.2rem;
    font-size: 1.9rem;
    text-shadow: 0 0.7rem 0.4rem rgba(92, 92, 92, 0.8);
    transform: scale(1.11) translateY(-2px); }
  .list-items .list-item:active {
    transition: all 110ms;
    text-shadow: 0 0 1rem #ffffff;
    transform: scale(0.951) translateY(2px);
    color: inherit; }
