.header {
  box-shadow: 0 0.4rem 2rem rgba(#000, .32);
  transition: all 0.17s;
  height: 94px;

  &:hover {
    box-shadow: 0 0.1rem 0.1rem rgba(#000, .81);
  }

  // &:hover *:not(header):not(:hover:not(.o)) {}
}

.Header {
  z-index: 1;
  padding: 1.3rem 0;
  color: rgba(235, 235, 255, .8);
  background-color: #20232a;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  .logo-box {
    padding-right: 2.2rem;
  }

  .header-search {
    font-size: 1.4rem;
    width: 300px;

    form {
      height: 100%;
    }

    .header-search-wrapper {
      display: table;
      width: 100%;
      max-width: 100%;
      position: absolute;
      padding: 0 1rem;
      top: 50%;
      background-color: rgba(255, 255, 255, .05);
      transform: translateY(-50%);
      animation-name: border-bottom-animation;
      animation-duration: 1.2s;
      animation-iteration-count: infinite;

      .header-search-input {
        width: 100%;
        height: 32px;
        background-color: transparent;
        color: white;
        transition: all 0.6s;

        &:focus {
          color: white;
          transition: all 0.3s;
          padding: 1.9rem 0;
          letter-spacing: 1px;

          &::placeholder {
            color: rgba(255, 255, 255, 0.08);
            letter-spacing: 0.4rem;
            transition: all 0.3s;
          }
        }
      }
    }
  }
}

.list-items {
  .list-item {
    &:first-child {
      margin-left: 2rem;
    }
    padding: 0 1.4rem;
    transition: all 0.2s;

    &:hover {
      font-family: inherit;
      color: white;
      letter-spacing: 0.2rem;
      font-size: 1.9rem;
      text-shadow: 0 0.7rem 0.4rem rgba(92, 92, 92, .8);
      transform: scale(1.11);
      font-weight: 0;
    }

    &:active {
      transition: all 110ms;
      text-shadow: 0 0 0 transparent;
      transform: scale(.951) translateY(2px) !important;
      color: inherit;
    }
  }

  &:hover li:not(:hover) {
    text-shadow: 0 0 1rem rgba(#fff, .7);
    animation-name: not-list;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

.nav-active {
  padding-bottom: 1rem;
  font-size: 2.1rem;
  text-shadow: 1px 1px 0 #000;
  animation-name: border-bottom-animation;
  animation-duration: .86s;
  animation-iteration-count: infinite;
  transition: all .31s;

  &:hover {
    font-size: 1.67rem;
    color: rgba(#0e90e8, .3);
    &::after {
      font-size: 10px;
      text-decoration: none;
      letter-spacing: -.5px;
      content: "(Opened)";
      color: rgba(#00ee5f, 0.82);
      white-space: pre;
    }
  }
}
