.position-relative {
  position: relative !important;
}

.display-flex {
  display: flex !important;
}

.flex-justify-between {
  justify-content: space-between !important;
}

.flex-auto {
  flex: 1 1 auto !important;
}

.padding-x-3 {
  padding: 0 16px;
}

.container-g {
  max-width: 1012px;
  margin: 0 auto;
}

.f5 {
  font-size: 14px !important;
}
